body {
    font-family: 'Nunito', sans-serif;
}
section {
    background-size: cover;
    display: block;
    width: 100vw;
    min-height: 100vh;
    padding-top: 56px;
}

.analytics {
    width: 100%;
    background-color: $color-gray;
    color: #000;
    text-align: center;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.top-10 {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: #F2F3F4;
}
.top-10-title {
    font-size: 16px;
    font-weight: bold;
    display: block;
    text-align: center;
}

.streamer-viewer {
    font-size: 14px;
    font-weight: normal;
    color: $color-gray-text;
}

h2 {
    font-family: sans-serif;
    text-align: center;
    color: $color-gray-text;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-bg-color {
    background-color: $color-light-gray;
}
#top-games {
    background-color: $color-dark-gray;
}

#analytics {
    background-color: $color-light-gray;
}

#top-streamers {
    background-color: $color-dark-gray;
}

#about {
    background-color: $color-light-gray;
} 

#contact {
    background-color: $color-dark-gray;
}